<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5" th:fragment="navigation">
    <div class="container">
      <a class="navbar-brand" href="/">Soi5 Shop</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-light me-2 ho" href="/" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'" style="color:white;">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-light me-2 ho" href="/employee" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'" style="color:white;">View Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-light me-2 ho" href="/department" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'" style="color:white;">View Department</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-light me-2 ho" href="/project" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'" style="color:white;">View Project</a>
            </li>    
          </ul>
      </div>
</div>
<style>
    .ul .li #ho:hover {
    /* background-color: #4CAF50; Green */
    color: black;
}
</style>
</nav>


